.list {
  margin-bottom: 30px;
}
.item {
  margin-bottom: 26px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.spin {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
