.wrapper {
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
  width: 80%;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 10px;
  .left {
    flex: 0 1 80%;
  }
  .top {
    display: flex;
    align-items: center;
    .title {
      color: rgb(24, 144, 255);
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
      margin-right: 13px;
    }
    .favourited {
      background-size: contain;
      background-color: white;
      background-repeat: no-repeat;
      display: inline-block;
      margin-left: 13px;
      width: 16px;
      height: 14.23px;
      vertical-align: baseline;
      margin-right: 4px;
      align-self: center;
    }
    .heartWrapper {
      display: flex;
      gap: 4px;
    }
  }
  .green {
    border: 1px solid rgb(82, 196, 26);
    border-radius: 5px;
    color: rgb(82, 196, 26);
  }
  .green:hover,
  .green:focus {
    border-color: darkgreen;
    color: darkgreen;
  }

  .body {
    margin-top: 30px;
  }
  .tags {
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
    .tag {
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      background: rgb(255, 255, 255);
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      line-height: 15px;
      padding: 3px;
    }
  }
  .description {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 25px;
  }

  .body {
    color: rgba(0, 0, 0, 0.75);
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    // flex: 0 1 20%;
    .info {
      display: flex;
      gap: 12px;
      .user {
        display: flex;
        flex-direction: column;
        .username {
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 0%;
          text-align: left;
        }
        .createdAt {
          color: rgba(0, 0, 0, 0.5);
          font-size: 12px;
          line-height: 22px;
          letter-spacing: 0px;
        }
      }
    }

    .image {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }

    .buttons {
      display: flex;
      gap: 12px;
      margin-top: 30px;
    }
  }
}
